@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin centratura {
  width: 90%;
  margin: 0 auto;
}

@mixin button-blue {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(48,72,143);
  margin: 20px 5px;
}
