section.bg {
  background-color: $bg-color;
  div.centratura {
    @include centratura;
    border-bottom: $border;
    div.title {
      @include title;
    }
    div.imgs {
      @include flex-between;
      div.items-img {
       @include items-img-flex;
        img {
          width: $w-img;
          height: $h-img;
        }
        p {
          padding: 20px;
          font-size: $size-text-20;
        }
      }
    }
    div.img {
      text-align: center;
      div.item-img-single {
          text-align: center;
          padding: 30px 0;
          img {
            width: $w-img;
          }
      }
    }

  }

}
