// colore generale testo
$color-gen: #040F0F;
// height header
$h-header: 100px;
// border-divs
$border: 1px solid $color-gen;
// size text
$size-text-25: 25px;
// size p sections
$size-text-20: 20px;
// colore learn more
$color-learn: rgb(48,72,143);
// background color
$bg-color: #4466D4;
// button color & hover
$bt-color: #7f14d4;
// size titoli grandi
$text-size-50px: 50px;
// width/height img sections
$w-img: 40%;
$h-img: 90px;
// width single-img
$w-img: 25%;
// colore link
$link-color: #0e14ee;
