// colore generale testo
$color-gen: rgb(88,64,44);
// height header
$h-header: 100px;
// border-divs
$border: 1px solid $color-gen;
// size text
$size-text-25: 25px;
// colore learn more
$color-learn: rgb(48,72,143);
// background color
$bg-color: rgb(253,231,210);
// size titoli grandi
$text-size-50px: 50px;
